<div class="actualizar-password-container">
  <h2>Actualizar Contraseña</h2>
  <form (ngSubmit)="actualizarPassword()">
    <div class="form-group">
      <label for="correo">Correo</label>
      <!-- Campo deshabilitado, ya viene precargado -->
      <input id="correo" type="email" [(ngModel)]="correo" name="correo" placeholder="Ingrese su correo" required disabled>
    </div>
    <div class="form-group">
      <label for="codigo">Código de Recuperación</label>
      <input id="codigo" type="text" [(ngModel)]="codigo" name="codigo" placeholder="Ej: F40364" required>
    </div>
    <div class="form-group">
      <label for="nuevaPassword">Nueva Contraseña</label>
      <input id="nuevaPassword" type="password" [(ngModel)]="nuevaPassword" name="nuevaPassword" placeholder="Ingrese la nueva contraseña" required>
    </div>
    <div class="form-group">
      <label for="confirmarPassword">Confirmar Nueva Contraseña</label>
      <input id="confirmarPassword" type="password" [(ngModel)]="confirmarPassword" name="confirmarPassword" placeholder="Confirme la nueva contraseña" required>
    </div>
    <button type="submit">Actualizar Contraseña</button>
  </form>
</div>
