<div class="content-section">
  <h2 class="titulo">Actualiza tu información personal</h2>

  <form [formGroup]="form" (ngSubmit)="guardarCambios()" class="formulario">

    <div class="form-group">
      <label for="cedula">Cédula</label>
      <input
        type="text"
        id="cedula"
        formControlName="cedula"
        class="form-control" />
    </div>


    <div class="form-group">
      <label for="correo">Correo electrónico</label>
      <input
        type="email"
        id="correo"
        formControlName="correo"
        [disabled]="!isEditing"
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="nombreCompleto">Nombre completo</label>
      <input
        type="text"
        id="nombreCompleto"
        formControlName="nombreCompleto"
        [disabled]="!isEditing"
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input
        type="text"
        id="direccion"
        formControlName="direccion"
        [disabled]="!isEditing"
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input
        type="text"
        id="telefono"
        formControlName="telefono"
        [disabled]="!isEditing"
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="nuevaContrasena">Nueva contraseña</label>
      <input
        type="password"
        id="nuevaContrasena"
        formControlName="nuevaContrasena"
        [disabled]="!isEditing"
        class="form-control" />
    </div>

    <div class="form-group">
      <label for="confirmarContrasena">Confirmar nueva contraseña</label>
      <input
        type="password"
        id="confirmarContrasena"
        formControlName="confirmarContrasena"
        [disabled]="!isEditing"
        class="form-control" />
    </div>

    <div class="button-group">
      <button type="button" class="btn-editar" (click)="toggleEditing()">
        {{ isEditing ? 'Cancelar edición' : 'Editar Perfil' }}
      </button>
      <button type="button" class="btn-eliminar" (click)="eliminarPerfil()">
        Eliminar Perfil
      </button>
      <button type="submit" class="btn-guardar" [disabled]="!isEditing">
        Guardar cambios
      </button>
    </div>
  </form>
</div>
