<mat-dialog-content>
  <p>Ingrese su correo electrónico para recibir un enlace de recuperación.</p>
  <input type="email" [(ngModel)]="correo" placeholder="Correo electrónico" class="form-control" />

  <div *ngIf="message" class="alert" [ngClass]="{ 'alert-success': success, 'alert-danger': !success }">
    {{ message }}
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="sendRecoveryEmail()">Enviar</button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>
