.recovery-modal-content {
  margin-top: 0;
  background-color: #1b1b2f;
  color: #f1f1f1;
  font-family: 'Segoe UI', sans-serif;
  padding: 1.5rem;
  margin: 0;
}

.modal-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #dcdcdc;
}

.modal-input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: none;
  background: #2e2e3e;
  color: #fff;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1rem;
  transition: border 0.3s ease;
}

.modal-input::placeholder {
  color: #aaa;
}

.modal-input:focus {
  border: 2px solid #ffd700;
}

.modal-alert {
  padding: 0.7rem 1rem;
  border-radius: 6px;
  margin-top: 0.5rem;
  font-weight: 500;
  text-align: center;
}

.modal-alert.success {
  background-color: #2e7d32;
  color: #fff;
}

.modal-alert.error {
  background-color: #c62828;
  color: #fff;
}

.recovery-modal-actions {
  margin-top: 0rem;
  padding: 0 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  background-color: #1b1b2f;
}

.modal-btn {
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border: none;
}

.modal-btn.confirm {
  background-color: #ffd700;
  color: #1b1b2f;
}

.modal-btn.confirm:hover {
  background-color: #e0c200;
  transform: scale(1.05);
}

.modal-btn.cancel {
  background-color: #2e2e3e;
  color: #ccc;
}

.modal-btn.cancel:hover {
  background-color: #3c3c5c;
  transform: scale(1.05);
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
  background-color: transparent !important;
  overflow: hidden !important;
  border-radius: 12px;
  margin: 0 !important; /* ✅ por si acaso */
}

