<mat-dialog-content class="recovery-modal-content">
  <p class="modal-description">Ingresa tu correo electrónico para recuperar tu contraseña</p>
  <input type="email" [(ngModel)]="correo" placeholder="Correo electrónico" class="modal-input" />

  <div *ngIf="message" class="modal-alert" [ngClass]="{ 'success': success, 'error': !success }">
    {{ message }}
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="recovery-modal-actions">
  <button mat-button class="modal-btn confirm" (click)="sendRecoveryEmail()">Enviar</button>
  <button mat-button class="modal-btn cancel" (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>
