<h2 mat-dialog-title>Recuperar Contraseña</h2>
<mat-dialog-content>
  <p>Ingrese su correo electrónico para recuperar la contraseña.</p>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Correo electrónico</mat-label>
    <input matInput [(ngModel)]="correo" type="email" placeholder="Correo electrónico" required>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="sendRecoveryEmail()">Enviar</button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>
